<div class="second-layer-bg book-of-the-day pad-elements">
  <div class="header-and-colored-box">
    <div class="colored-box"></div>
    <div><h1>Book of the day</h1></div>
  </div>

  <div class="book-of-the-day-container">
    <div class="book-of-the-day-text">
      <p>This is the description of the book and it has to be long
        enough to occupy the whole page so that it can look nice.
        This is the description of the book and it has to be long
        enough to occupy the whole page so that it can look nice.
        This is the description of the book and it has to be long
        enough to occupy the whole page so that it can look nice.
        This is the description of the book and it has to be long
        enough to occupy the whole page so that it can look nice.
        This is the description of the book and it has to be long
        enough to occupy the whole page so that it can look nice.
        This is the description of the book and it has to be long
        enough to occupy the whole page so that it can look nice.
        This is the description of the book and it has to be long
        enough to occupy the whole page so that it can look nice.
      </p>
    
    </div>

    <div class="book-of-the-day-meta-info">
      <div>
        <h5>Author: Abidoun Delight Balogun</h5>
        <h5>Title of book: Life at its peak</h5>
        <h5>Year of book: 2018</h5>
        <button class="main">Read this book</button>
      </div>
    </div>
  </div>
</div>
