.user-image {
    img {
      max-height: 80px;
      border-radius: 20%;
      margin-top: 20px;
    }
  }
  ul {
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0;

    li {
      height: 40px;
    }
  }
