 <table *ngIf="books.length > 0 && tableType === bookTableType.ALLBOOKS">
  <tr>
    <th *ngFor="let header of tableHeaders">{{header}}</th>
  </tr>

  <tr *ngFor="let book of books">
    <td>{{ book.isbn }}</td>
    <td><img src="{{ book.imageUrl }}" alt="{{ book.title }} image"></td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.Category.category }}</td>
    <td>{{ book.quantity }}</td>
    <td>{{ book.pages }}</td>
    <td>
      <i class="material-icons edit">edit</i>
      <i class="material-icons delete" (click)="deleteBook(book)">delete</i>
    </td>
  </tr>
  </table>

  <table *ngIf="books.length > 0 && tableType === bookTableType.HISTORY">
      <tr>
        <th *ngFor="let header of tableHeaders">{{header}}</th>
      </tr>
    
      <tr *ngFor="let book of books">
        <td><img src="{{ book.Book.imageUrl }}" alt="{{ book.title }} image"></td>
        <td>{{ book.Book.title }}</td>
        <td>{{ book.Book.author }}</td>
        <td>{{ book.dateBorrowed }}</td>
        <td>{{ book.expectedReturnDate }}</td>
        <td>
          <button 
            class="return-book" 
            (click)="returnBook(book.id)" 
            [disabled]="book.returnStatus || !isReturnButtonEnabled">Return Book</button>
        </td>
      </tr>
      </table>
  