table {
    margin: 50px auto;
    width: 90%;
  
    th {
      background-color: #2f979b;
      color: white;
    }
  
    tr {
      background: #faf9f9;
      text-align: center;
    }

    td {
      img {
        max-height: 50px;
      }

      i.edit {
        color: green;
        font-size: 20px;
        cursor: pointer;
      }

      i.delete {
        color: red;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  
  @media screen and (max-width: 641px) {
    table {
      margin: 0 auto;
      width: 90%;
      overflow-y: auto;
    }
  }