.row {
  width: 100%;

}

.trending-books {
 margin-top: 2%;
}

.books-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0 50px 0;

  .single-book-container {
    width: 180px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.055555);
    transition: box-shadow 0.5s, transform 0.5s;

    h4 {
      text-align: center;
      padding: 1.5px 0 0 1.5px;
      line-height: 3px;
    }

    .description-overlay {
      position: relative;

      img {
        max-width: 180px;
        max-height: auto;
        padding-bottom: 10px;
      }

      div {
        height: 220px;
        width: 180px;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        color: white;
        transition: visibility 0.5s, opacity 0.5s;

        p {
          padding-top: 5%;
          padding-bottom: 1%;
          font-size: 15px;
        }
      }
    }

    button {
      max-width: 200px;
      height: 30px;
      padding: 1.5px 0 0 1.5px;
      border: none;
      background: #2f979b;
      color: white;
      cursor: pointer;
    }
  }

  .single-book-container:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1999);
    transform: scale(1.1);

    .description-overlay {

      img {
        max-width: 180px;
        max-height: auto;
        padding-bottom: 10px;
      }

      div {
        height: 220px;
        width: 180px;
        position: absolute;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}