.login-image {
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
      margin: 0 auto;
      max-height: 60px;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;

  .form-control {
    border-radius: 4%;
    margin: 6% 0 10% 0;
  }

  input[type=text], input[type=password] {
    border: 0.5px black outset;
    padding: 12px 20px;
  }

  button {
    background: #2f979b;
    color: white;
    height: 40px;
  }

  button.google-signin {
    background: red;
  }

  h5 {
    line-height: 1px;
    border: 0.5px solid black;
    text-align: center;
    width: 100%;

    span {
      background: white;
    }
  }
  p {
    text-align: center;
    color: red;
  }

}


