<div>
  <div class="modal-header">
    <h1>Signin</h1>
    <p>Not registered? <button (click)="signUp()">Signup</button></p>
  </div>

  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Uusername -->
      <label>Username</label>
      <input
        type="text"
        class="form-control"
        formControlName="username"
        minlength="4"
        required
      >

      <!-- Password -->
      <label> Password</label>
      <input 
        type="password"
        class="form-control"
        formControlName="password"
        minlength="4"
        required
      >

      <!--  Error messages -->
      <p *ngIf="errorMessage" class="">{{errorMessage}}</p>

      <!-- Login button -->
      <button type="submit" [disabled]="loginForm.invalid || disableBtn">Signin</button>
    </form>
  </div>
</div>