
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  
    .dashboard-navigation {
        
      background-image: url('../../../../assets/homebg.jpg');
      background-position: 100%, 80%;
      height: 100vh;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 15%;
  
    }
  
    .dashboard-header {
      color: black;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }

    .content-display-area {
      text-align: center;
      margin-top: 30px;
      height: 669px;
      overflow: scroll;
    }
    .pad-elements {
      padding: 3% 10% 0 1%;
    }
  }
  @media screen and (max-width: 640px) {
    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      height: 100%;
      width: 100%;
  
      .dashboard-navigation {
        width: 50%;
        background: red;
        height: 10vh;
      }
      
      .dashboard-header {
        flex: 1, 1, 70%;
      }
    }
  }