.wrapper {
  display: flex;
  flex-direction: row;


  .app-dashboard {
    background-image: url('../../../../assets/homebg.jpg');
    background-position: 100%, 80%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
  }

  .app-content-area {
    width: 85%;
    height: 803px;
    overflow: auto;
    // display: grid;
    // grid-template-rows: .5fr 3fr;
  }
  }

@media screen and (max-width: 640px) {
  .wrapper {

    .app-dashboard {
      width: 0;
    }

    .app-content-area {
      background: blue;
      width: 100%;
      // display: grid;
      // grid-template-rows: .5fr 3fr;
    }
  }
}