.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;


  .app-dashboard {
    background-image: url('../../../../assets/homebg.jpg');
    background-position: 100%, 80%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
  }

  .app-content-area {
    width: 85%;
    height: 803px;
    overflow-y: scroll;
    overflow-x: hidden;

  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    .app-dashboard {
      width: 0;
    }

    .app-content-area {
      width: 100%;
      background: red;
    }
  }
}