<div *ngIf="isLoadingUserData">Loading</div>
<div *ngIf="userInfo && !showEditProfileForm" class="content-container">
  <div class="user-image">
    <img src="../../../../assets/my image.jpeg" alt="">
  </div>
  <div class="user-details">
   <div>
    <h3>Profile Details</h3>
   </div>
    <table>
      <tr>
        <td>Name: </td>
        <td>{{ userInfo.firstName }} {{  userInfo.lastName }}</td>
      </tr>

      <tr>
        <td>Username: </td>
        <td>{{ userInfo.username }}</td>
      </tr>

      <tr>
        <td>Email: </td>
        <td>{{ userInfo.email }}</td>
      </tr>

      <tr>
        <td>Password: </td>
        <td>*****
          <span class="material-icons" (click)="editPassword()">mode_edit</span>
        </td>
      </tr>

      <tr>
        <td>Date Joined: </td>
        <td>{{userInfo.createdAt}}</td>
      </tr>

      <tr>
        <td>Membership level: </td>
        <td>{{ userInfo.membership }}</td>
      </tr>
    </table>
    <button class="custom-button" (click)="createAndShowEditForm()">Edit profile</button>
  </div>
</div>

<div *ngIf="showEditProfileForm" class="edit-form">
  <div>
    <h3>Profile Update</h3>
  </div>
  <div class="edit-profile">
    <form [formGroup]="editProfileForm" (ngSubmit)="updateProfile()">

      <div class="edit-profile-content">
          <!-- Firstname -->
          <label>Firstname: </label>
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            minlength="2"
            required
          >
      </div>

      <div class="edit-profile-content">
          <!-- Lastname -->
          <label>Lastname: </label>
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            minlength="2"
            required
        >
      </div>
    <div class="edit-profile-content">
        <!-- Username -->
        <label>Username: </label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          minlength="4"
          required
        >
    </div>

    <div class="edit-profile-content">
        <button
        type="submit"
        [disabled]="editProfileForm.invalid || disableBtn">Update
      </button>

        <button
        class="cancel"
        (click)="cancelProfileEdit()">Cancel
      </button>
     </div>    
    </form>
  </div>
</div>