
.row {
    width: 100%;
    clear:both;
}
.column {
    padding: 0 2%;
}

@for $i from 1 through 12 {
    $width: ($i/12) * 100%;
    .small-#{$i} {
        width: $width;
        background: yellow;
    }
}


@for $i from 1 through 12 {
    $width: ($i/12) * 100%;
    .medium-#{$i} {
        width: $width;
        background: red;
    }
}
