<div class="footer-background">
  <div class="pad-elements container">
  
    <div class="navigation">
      <h4>Adddition Resources</h4>
      <ul>
        <li><a href="https://hellobooksapp.herokuapp.com/api/v1">API base</a></li>
        <li><a href="https://github.com/BalogunDell/hellobooks-angular">Github Repository</a></li>
        <li><a href="https://hellobooksapp.herokuapp.com/">Version 1 (Built with ReactJS)</a></li>
      </ul>
    </div>

    <div class="social-icons">
      <h4 class="pad-elements">Social Media</h4>
      <ul>
        <li><a href="https://www.facebook.com/Abbeymistica">Facebook</a></li>
        <li><a href="https://twitter.com/ab_delight">Twitter</a></li>
        <li><a href="https://www.instagram.com/delighteddell/">IG</a></li>
      </ul>
    </div>

    <div class="developed-by">
      <h4 class="pad-elements">Developer</h4>
     <ul>
       <li><a href="https://twitter.com/ab_delight">Abiodun D</a></li>
     </ul>
    </div>
    
  </div>
</div>