$font-size: 20px;

.menu-logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 60px;
  color: white;

  h1 {
    padding: 0;
    margin: 0;
  }

  .logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    img {
      flex: 1 1 auto;
      max-height: 60px;
    }

    h1 {
      flex: 1 1 auto;
      line-height: 60px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    height: 30px;
    width: 80px;
    line-height: 30px;
    flex: 1 1 auto;
    cursor: pointer;

    a {
      color: white;
      text-decoration: none;
      font-size: $font-size;
      transition: padding 0.5s;
    }

    a:hover {
      padding: 6px;
      border-radius: 10px;
      background: rgba($color: #2f979b, $alpha: 0.5);
    }
  }
  
  
  //**************** Media Query **********************/
  
    @media screen and (max-width: 641px) {
  
      li {
        display: none;
      }
    }
}

.intro-heading {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

    h1 {
      text-align: center;
      color: white;
    }
    p {
      max-width: 50%;
      margin: 20px auto;
      color: white;
      text-align: center;
    }
    
    //**************** Media Query **********************/

    @media screen and (max-width: 641px) {

      .intro-heading {
        margin: 5% auto;
       
      }

      h1 {
        font-size: 30px;
        max-width: 80%;
        margin: auto;
      }
      p {
        max-width: 70%;
      }
    }



    @media screen and (max-width: 841px) {

      .intro-heading {
        margin: 3% auto;
       
      }

      h1 {
        font-size: 30px;
        max-width: 80%;
        margin: auto;
      }
      p {
        max-width: 70%;
      }
    }
  }