<div class="books-holder">
  <div
    *ngFor="let book of books"
    (click)="getBookId(book.id)"
    class="single-book-container">
    <h4>{{ book.title }}</h4>
    <div [class.description-overlay]="isBooksOverlayNeeded">
      <div *ngIf="isBooksOverlayNeeded">
        <p>Author: {{ book.author }}</p>
        <p>Year: {{ book.year }}</p>
        <p>No of Pages: {{ book.pages }}</p>
        <p>Quantity available: {{ book.quantity }}</p>
      </div>
      <img src="{{ book.imageUrl }}" alt="">
    </div>
    <button (click)="showLoginModal()">{{ buttonText }}</button>
  </div>
</div>