<div class="intro">
    <h1>Books of the Season </h1>
    <p>Find out what makes these books a trending piece amongst readers</p>
</div>
<div class="container">
  <div class="inner-container book1">
      <div class="book-image">
        <h3>Book title</h3>
        <img src="../../assets/book1.jpg" alt="">
          <h4>Quantity: 4</h4>
      </div>

      <div class="book-description">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum...
          </p>
          <button>Read More</button>
      </div>

    </div>


    <div class="inner-container second-book">
          <div class="book-description">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum...
            </p>
            <button class="readMore">Read More</button>
          </div>  
          
          <div class="book-image">
              <img src="../../assets/book1.jpg" alt="">
            </div>

        </div>
</div>
