<div class="row trending-books">
  <div class="header-and-colored-box">
    <div class="colored-box"></div>
    <div><h1>Trending Books</h1></div>
  </div>
</div>

<div class="books-holder">
  <div class="single-book-container">
    <h4>Book title</h4>
    <div class="description-overlay">
      <div>
        <p>Author: Abiodun D</p>
        <p>Category: Programming</p>
        <p>No of Pages: 32</p>
        <p>Quantity available: 3</p>
      </div>
      <img src="../../assets/book1.jpg" alt="">
    </div>
    <button>Borrow book</button>
  </div>

  <div class="single-book-container">
    <h4>Book title</h4>
    <div class="description-overlay">
      <div>
        <p>Author: Abiodun D</p>
        <p>Category: Programming</p>
        <p>No of Pages: 32</p>
        <p>Quantity available: 3</p>
      </div>
      <img src="../../assets/book1.jpg" alt="">
    </div>
    <button>Borrow book</button>
  </div>

  <div class="single-book-container">
    <h4>Book title</h4>
    <div class="description-overlay">
      <div>
        <p>Author: Abiodun D</p>
        <p>Category: Programming</p>
        <p>No of Pages: 32</p>
        <p>Quantity available: 3</p>
      </div>
      <img src="../../assets/book1.jpg" alt="">
    </div>
    <button>Borrow book</button>
  </div>

  <div class="single-book-container">
    <h4>Book title</h4>
    <div class="description-overlay">
      <div>
        <p>Author: Abiodun D</p>
        <p>Category: Programming</p>
        <p>No of Pages: 32</p>
        <p>Quantity available: 3</p>
        </div>
      <img src="../../assets/book1.jpg" alt="">
    </div>
    <button>Borrow book</button>
  </div>
</div>
