<div *ngIf="book" class="space-up">
    <h3>{{book.title}} Detail</h3>
  <div class="book-detail-container">
    <div class="book-image">
        <app-books
        [books]="[book]"
        [showModalOnButtonClick]="false"
        [isBooksOverlayNeeded]="false">
        </app-books>
      </div>

      <div class="book-details">
        <div>
          <p>Author: {{ book.author }}</p>
          <p>Year: {{ book.year }}</p>
          <p>No of Pages: {{ book.pages }}</p>
          <p>Category: {{ book.Category.category }}</p>
          <p>Quantity available: {{ book.quantity }}</p>
          <hr class="full-horizontal-rule">
          <p>Description: {{ book.description }}</p>
          <hr class="full-horizontal-rule">
          <button 
            *ngIf="isBorrowButtonEnable && userRole != 'admin'"
            (click)="borrowBook(book.id)">Borrow this book
          </button>
          <button 
            *ngIf="!isBorrowButtonEnable || userRole === 'admin'"
            (click)="goBackToLibary()">Back to library
          </button>

          <button 
            *ngIf="navigateUserToHistoryPage"
            (click)="gotToHistoryPage()">View your borrow history
          </button>
        </div>
      </div>
  </div>
</div>