<div class="first-section-wrapper">

  <!-- Logo container -->
  <div class="logo-container pad-elements">
    <div><h1>Hellobooks</h1></div>
  </div>

  <!-- Container for menu, introduction and social icons -->
  <div class="menu-intro-socials-container pad-elements">
    <div class="custom-hamburger">
      <svg width="100" height="60" class="menu-button">
        <rect x="0" y="25" width="40" height="5" style="fill:rgb(3, 59, 68)" />
        <rect x="0" y="38" width="40" height="5" style="fill:rgb(3, 59, 68)" />
        <rect x="0" y="51" width="40" height="5" style="fill:rgb(3, 59, 68)" />
      </svg>

      <div class="menu-display">
          <ul>
            <a [routerLink]="['/about']"><li>About</li></a>
            <a [routerLink]="['/login']"><li>Login</li></a>
            <a [routerLink]="['/signup']"><li>Signup</li></a>
          </ul>
      </div>
    </div>
    <div class="introduction">
      <h1>The ultimate source of truth</h1>
      <p>This app is built with angular and svgThis app is built with angular and svgThis app is built with angular and svg</p>
      <a [routerLink]="['/signup']">Get Started</a>
    </div>
    <div>
        <svg width="100" height="100">
            <circle cx="50" cy="50" r="50" fill="rgb(3, 59, 68)"/>
            <text x="50%" y="50%" text-anchor="middle" stroke="white">Connect</text>
          </svg>
    </div>
  </div>

  <!-- Arrow down container -->
  <div class="direction-down pad-elements">
    ARROW DOWN
  </div>

</div>

<div class="pad-elements">
  <app-trending-books></app-trending-books>
</div>
<div>
  <app-footer></app-footer>
</div>