table {
  margin: 0 auto;
  width: 90%;

  th {
    background-color: #2f979b;
    color: white;
  }

  tr {
    background: #faf9f9;
  }
}

@media screen and (max-width: 641px) {
  table {
    margin: 0 auto;
    width: 90%;
  }
}